---
css         : 'radio'
title       : 'Radio'
description : 'Radio'
type        : 'Element'
componentUrl: '/dist/components/elements/radio/donut.radio.html'
---

<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

{{> header}}

<h2 class="ui dividing header">Types</h2>

<!-- <div class="follow example">
	<h4 class="ui header">Button</h4>
	<p>A standard button</p>
	<div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
	<donut-button>The Standard</donut-button>
</div> -->

<div class="example">
	<h4 class="ui header">Standard</h4>

	<p></p>

	<donut-radio id="radio" label="Radio" value="radio"></donut-radio>

</div>


</div>
