<link rel="import" href="/dist/components/containers/toolbar/donut.toolbar.html">
<link rel="import" href="/dist/components/elements/button/donut.button.html">
<link rel="import" href="/dist/components/elements/icon/donut.icon.html">
<div>
<donut-toolbar>
	<donut-button class="hard basic primary" iconbutton="menu"></donut-button>
	<span flex>Toolbar</span>
	<donut-button class="hard basic primary" iconbutton="refresh"></donut-button>
	<donut-button class="hard basic primary" iconbutton="add"></donut-button>
</donut-toolbar>
</div>
