---
css         : 'button'
title       : 'Button'
description : 'Buttons indicate possible actions to the user.'
type        : 'Element'
componentUrl: '/dist/components/elements/button/donut.button.html'
---
{{> header}}

<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container">
  <div class="peek">
    <div class="ui vertical pointing secondary menu">
      <a class="active item">Types</a>
      <a class="item">Groups</a>
      <a class="item">States</a>
      <a class="item">Variations</a>
    </div>
  </div>

  <h2 class="ui dividing header">Types</h2>

  <div class="follow example">
    <h4 class="ui header">Button</h4>
    <p>A standard button</p>
    <div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
    <donut-button>What do you say?</donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Animated</h4>
    <p>A button can animate to show hidden content</p>
    <donut-button class="primary" animated>
      <div class="hidden">Next</div>
      <div class="visible">Hey</div>
    </donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Sizes</h4>
    <p>A button can have multiple sizes</p>
    <donut-button class="milli">Milli</donut-button>
    <donut-button class="tiny">Tiny</donut-button>
    <donut-button class="small">Small</donut-button>
    <donut-button class="large">Large</donut-button>
    <donut-button class="big">Big</donut-button>
    <donut-button class="massive">Massive</donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Ordinality</h4>
    <p>A button use ordinality.</p>
    <div class="ui ignored message">Ordinality is the primary way to consistently differentiate buttons of different priority.</div>
    <donut-button class="primary">Primary</donut-button>
    <donut-button class="secondary">Secondary</donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Basic</h4>
    <p>A few button exist for semantic purposes.</p>
    <donut-button class="basic">Basic</donut-button>
    <donut-button class="basic secondary">Basic Secondary</donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Semantic</h4>
    <p>A few button exist for semantic purposes.</p>
    <donut-button class="warning">Warning</donut-button>
    <donut-button class="error">Error</donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Icon Only</h4>
    <p>A few button exist for semantic purposes.</p>
    <donut-button class="primary" iconbutton="polymer">
    </donut-button>
    <donut-button class="secondary" iconbutton="polymer">
    </donut-button>
  </div>

  <div class="example">
    <h4 class="ui header">Icons and Ordinality</h4>
    <p>A few button exist for semantic purposes.</p>
    <donut-button class="primary" icon="polymer">Primary Separate Icon Color</donut-button>
    <donut-button class="secondary" icon="polymer">Secondary</donut-button>
  </div>
  <div class="example">
    <h4 class="ui header">Icons and Basic</h4>
    <p>A few button exist for semantic purposes.</p>
    <donut-button class="basic primary" iconbutton="polymer">
    </donut-button>
    <donut-button class="basic secondary" iconbutton="polymer">
    </donut-button>
  </div>

  <h2 class="ui dividing header">Other Layout Patterns</h2>

  <div class="example">
    <h4 class="ui header">Fluid</h4>
    <p>A button can be fuild.</p>
    <donut-button fluid>A Fluid Button</donut-button>
  </div>


</div>
