/*******************************
  Variations
*******************************/
:host {
  background: blue;
  color: white;
}

/*-------------------
       Primary
--------------------*/
:host(.primary) {
  background: green;
}
