@import "../../theme/imports";

/*******************************
          Base Theme
*******************************/
:host-context(.prototype) {

  &:host {
    background-color: $midGray;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: $base-round;
    transition: opacity 0.2s ease-in-out;
  }
  &:host(:hover) {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }

  /*******************************
            Ordinality
  *******************************/
  &:host(.primary) {
    background-color: $midGray;

    #icon {
      color: $midGray_10;
    }
    #iconbutton {
      color: $white;
    }
  }

  &:host(.secondary) {
    background-color: $midGray_70;
    color: $shade;

    #icon {
      color: $shade-half;
    }
    #iconbutton {
      color: $shade;
    }
  }


  /*******************************
            Semantic
  *******************************/
  &:host(.warning) {
    background-color: $lightGray;
    color: $red_70;
    transition: color 0.3s;
  }

  &:host(.error) {
    background-color: $red_70;
  }


  /*******************************
            Basic
  *******************************/
  &:host(.basic), &:host(.basic.primary) {
    background-color: transparent;
    color: $darkGray;
    transition: color 0.3s;


    #icon, #iconbutton {
      color: $darkGray;
    }
  }

  &:host(.basic.secondary) {
    color: $darkGray_70;

    #icon, #iconbutton {
      color: $shade_half;
    }
  }
}
