---
css         : 'header'
title       : 'Header'
description : 'Global menu/logo/nav container, usually found at the top of the page'
type        : 'Container'
componentUrl: '/dist/components/containers/header/donut.header.html'
---


<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

  {{> header}}

  <h2 class="ui dividing header">Types</h2>

  <div class="follow example">
    <h4 class="ui header">Header</h4>
    <p>A standard field</p>



  </div>


</div>
