@import "../../theme/imports";

/*******************************
          Base Theme
*******************************/

::content input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125em;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::content input:focus {
  border-color: rgba(0,0,0,0.3);
  box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
}
