<link rel="import" href="/bower_components/core-icon/core-icon.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<polymer-element name="donut-header" extends="core-header-panel">
  <template>
    <link href="donut.header.css" rel="stylesheet">
    <link href="donut.header.theme.css" rel="stylesheet">
    <!-- Content -->
      <shadow></shadow>
  </template>
  <script>
    Polymer('donut-header', {
      publish: {
        /**
          * (optional) Specifies that a label be inline with the input
          *
          * @attribute animated
          * @type boolean
          * @default false
          */
        //inline: {value: false, reflect: true},
        //label: {value: ''}
      }
    });
  </script>
</polymer-element>
