---
css         : 'label'
title       : 'Label'
description : 'Workhorse of a small component, this one.'
type        : 'Element'
componentUrl: '/dist/components/elements/label/donut.label.html'
---

<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

{{> header}}

<h2 class="ui dividing header">Types</h2>

<!-- <div class="follow example">
	<h4 class="ui header">Button</h4>
	<p>A standard button</p>
	<div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
	<donut-button>The Standard</donut-button>
</div> -->

<div class="example">
	<h4 class="ui header">Standard</h4>
	<p></p>
	<donut-label>
		Annie L. Jack
	</donut-label>
</div>

<div class="example">
	<h4 class="ui header">Removable</h4>
	<p></p>
	<donut-label removable>
		Annie L. Jack
	</donut-label>
</div>

<div class="example">
	<h4 class="ui header">Icon</h4>
	<p></p>
	<donut-label icon="polymer">
		Annie L. Jack
	</donut-label>
</div>

<div class="example">
	<h4 class="ui header">Detail</h4>
	<p></p>
	<donut-label>
		Annie L. Jack <a href="#">14</a>
	</donut-label>
</div>

<h2 class="ui dividing header">Attached</h2>
<div class="example">
	<h4 class="ui header">Top</h4>
	<p></p>
	<div class="ui segment soft-double--top soft--bottom">
		<donut-label attached top>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>
<div class="example">
	<h4 class="ui header">Bottom</h4>
	<p></p>
	<div class="ui segment soft--top soft-double--bottom">
		<donut-label attached bottom>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>

<div class="example">
	<h4 class="ui header">Top Left</h4>
	<p></p>
	<div class="ui segment soft-double--top soft--bottom">
		<donut-label attached top left>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>
<div class="example">
	<h4 class="ui header">Bottom Left</h4>
	<p></p>
	<div class="ui segment soft--top soft-double--bottom">
		<donut-label attached bottom left>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>

<div class="example">
	<h4 class="ui header">Top Right</h4>
	<p></p>
	<div class="ui segment soft-double--top soft--bottom">
		<donut-label attached top right>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>
<div class="example">
	<h4 class="ui header">Bottom Right</h4>
	<p></p>
	<div class="ui segment soft--top soft-double--bottom">
		<donut-label attached bottom right>
			Annie L. Jack
		</donut-label>
		This is a normal text segment
	</div>
</div>

</div>
