---
css         : 'checkbox'
title       : 'Checkbox'
description : 'Checkbox'
type        : 'Element'
componentUrl: '/dist/components/elements/checkbox/donut.checkbox.html'
---

<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

{{> header}}

<h2 class="ui dividing header">Types</h2>

<!-- <div class="follow example">
	<h4 class="ui header">Button</h4>
	<p>A standard button</p>
	<div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
	<donut-button>The Standard</donut-button>
</div> -->

<div class="example">
	<h4 class="ui header">Standard</h4>

	<p></p>

	<donut-checkbox id="check" label="Checkbox" value="checkbox"></donut-checkbox>

</div>


</div>
