---
css         : 'menu'
title       : 'Menu'
description : 'Collection of items'
type        : 'Collection'
componentUrl: '/dist/components/collections/menu/donut.menu.html'
---
<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

  {{> header}}

  <h2 class="ui dividing header">Types</h2>

  <div class="follow example">
    <h4 class="ui header">Menu</h4>
    <p></p>
    <donut-menu selected="0">
        <donut-item icon="settings" label="Settings" horizontal center layout></donut-item>
        <donut-item icon="account-box" label="Account" horizontal center layout></donut-item>
    </donut-menu>

    <p></p>
    <donut-menu selected="0">
        <donut-item icon="account-circle" class="label-outline" horizontal center layout>
          <div flex="">
            <div>John Doe</div>
            <div>123 A Street, San Francisco, CA</div>
          </div>
          <core-icon icon="more-vert"></core-icon>
        </donut-item>
        <donut-item icon="account-circle" class="label-outline" horizontal center layout>
          <div flex="">
            <div>John Doe</div>
            <div>123 A Street, San Francisco, CA</div>
          </div>
          <core-icon icon="more-vert"></core-icon>
        </donut-item>
    </donut-menu>
  </div>

</div>
