/*******************************
            States
*******************************/


/*--------------------
        Focus
---------------------*/

/*--------------------
        Error
---------------------*/

/* On Form */
.ui.form.warning .warning.message {
  display: block;
}

/*--------------------
        Warning
---------------------*/

/* On Form */
.ui.form.error .error.message {
  display: block;
}

.ui.form .fields.error .field textarea,
.ui.form .fields.error .field input[type="text"],
.ui.form .fields.error .field input[type="email"],
.ui.form .fields.error .field input[type="date"],
.ui.form .fields.error .field input[type="password"],
.ui.form .fields.error .field input[type="number"],
.ui.form .fields.error .field input[type="url"],
.ui.form .fields.error .field input[type="tel"],
.ui.form .field.error textarea,
.ui.form .field.error input[type="text"],
.ui.form .field.error input[type="email"],
.ui.form .field.error input[type="date"],
.ui.form .field.error input[type="password"],
.ui.form .field.error input[type="number"],
.ui.form .field.error input[type="url"],
.ui.form .field.error input[type="tel"] {
  padding-left: 1.2em;
}

/*--------------------
  Empty (Placeholder)
---------------------*/

/*--------------------
       Disabled
---------------------*/

.ui.form .field :disabled,
.ui.form .field.disabled {
  opacity: 0.5;
}
.ui.form .field.disabled label {
  opacity: 0.5;
}
.ui.form .field.disabled :disabled {
  opacity: 1;
}


/*--------------------
     Loading State
---------------------*/

/* On Form */
.ui.form.loading {
  position: relative;
}
.ui.form.loading:after {
  position: absolute;
  top: 0%;
  left: 0%;
  content: '';
  width: 100%;
  height: 100%;
  visibility: visible;
}
