/*******************************
           Variations
*******************************/


/*--------------------
      Fluid Width
---------------------*/

.ui.form.fluid {
  width: 100%;
  box-sizing: border-box;
}


/*--------------------------
  Input w/ attached Button
---------------------------*/

.ui.form input.attached {
  width: auto;
}

/*--------------------
      Date Input
---------------------*/

.ui.form .date.field > label {
  position: relative;
}
.ui.form .date.field > label:after {
  position: absolute;
  top: 2em;
  right: 0.5em;
  font-size: 1.2em;
}


/*--------------------
    Inverted Colors
---------------------*/

/*--------------------
     Field Groups
---------------------*/

/* Grouped Vertically */
.ui.form .grouped.fields {
  margin: 0em 0em 1em;
}
.ui.form .grouped.fields .field {
  display: block;
  float: none;
  margin: 0.5em 0em;
  padding: 0em;
}


/*--------------------
          Fields
---------------------*/

/* Split fields */
.ui.form .fields {
  clear: both;
}
.ui.form .fields:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.ui.form .fields > .field {
  clear: none;
  float: left;
}

/* Other Combinations */
.ui.form .two.fields > .fields,
.ui.form .two.fields > .field {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}
.ui.form .three.fields > .fields,
.ui.form .three.fields > .field {
  width: 33.333%;
  padding-left: 1%;
  padding-right: 1%;
}
.ui.form .four.fields > .fields,
.ui.form .four.fields > .field {
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
}
.ui.form .five.fields > .fields,
.ui.form .five.fields > .field {
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
}

/* Swap to full width on mobile */
@media only screen and (max-width : 767px) {
  .ui.form .two.fields > .fields,
  .ui.form .two.fields > .field,
  .ui.form .three.fields > .fields,
  .ui.form .three.fields > .field,
  .ui.form .four.fields > .fields,
  .ui.form .four.fields > .field,
  .ui.form .five.fields > .fields,
  .ui.form .five.fields > .field {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.ui.form .fields .field:first-child {
  padding-left: 0%;
}
.ui.form .fields .field:last-child {
  padding-right: 0%;
}


/*--------------------
    Inline Fields
---------------------*/

.ui.form .inline.fields .field {
  min-height: 1.3em;
  margin-right: 0.5em;
}
.ui.form .inline.fields .field > label,
.ui.form .inline.fields .field > p,
.ui.form .inline.fields .field > input,
.ui.form .inline.field > label,
.ui.form .inline.field > p,
.ui.form .inline.field > input {

  display: inline-block;
  width: auto;

  margin-top: 0em;
  margin-bottom: 0em;

  vertical-align: middle;
  font-size: 1em;
}
.ui.form .inline.fields .field > input,
.ui.form .inline.field > input {
  font-size: 0.875em;
}

.ui.form .inline.fields .field > :first-child,
.ui.form .inline.field > :first-child {
  margin: 0em 0.5em 0em 0em;
}
.ui.form .inline.fields .field > :only-child,
.ui.form .inline.field > :only-child {
  margin: 0em;
}


/*--------------------
        Sizes
---------------------*/

/* Standard */
.ui.small.form {
  font-size: 0.875em;
}
.ui.small.form textarea,
.ui.small.form input[type="text"],
.ui.small.form input[type="email"],
.ui.small.form input[type="date"],
.ui.small.form input[type="password"],
.ui.small.form input[type="number"],
.ui.small.form input[type="url"],
.ui.small.form input[type="tel"],
.ui.small.form label{
  font-size: 1em;
}

/* Large */
.ui.large.form {
  font-size: 1.125em;
}
