---
css         : 'field'
title       : 'Field'
description : 'Fields hold a consistent label/input/message pattern.'
type        : 'Container'
componentUrl: '/dist/components/containers/field/donut.field.html'
---


<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

  {{> header}}

  <h2 class="ui dividing header">Types</h2>

  <div class="follow example">
    <h4 class="ui header">Field</h4>
    <p>A standard field</p>
    <div class="ui ignored message">A field typically has a label, input, and error message area</div>
    <donut-field label="Field Label: "></donut-field>
  </div>

  <div class="follow example">
    <h4 class="ui header">With Icon Field</h4>
    <p>A field with an icon for additional user guidance</p>
    <donut-field label="Field Label: "></donut-field>
  </div>

  <div class="follow example">
    <h4 class="ui header">Required Field</h4>
    <p>A required field</p>
    <donut-field label="Field Label: "></donut-field>
  </div>

  <div class="follow example">
    <h4 class="ui header">Invalid Field</h4>
    <p>An invalid field</p>
    <div class="ui ignored message">An invalid field includes an error message area</div>
    <donut-field label="Field Label: "></donut-field>
  </div>

  <div class="follow example">
    <h4 class="ui header">Disabled Field</h4>
    <p>A disabled field</p>
    <donut-field label="Field Label: "></donut-field>
  </div>

</div>
