---
css         : 'buttons'
title       : 'Buttons'
description : 'Buttons indicate possible actions to the user.'
type        : 'Collections'
componentUrl: '/dist/components/collections/buttons/donut.buttons.html'
---
<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">
  <!-- <div class="peek">
    <div class="ui vertical pointing secondary menu">
      <a class="active item">Types</a>
      <a class="item">Groups</a>
      <a class="item">States</a>
      <a class="item">Variations</a>
    </div>
  </div> -->
  {{> header}}

  <h2 class="ui dividing header">Types</h2>

  <div class="follow example">
    <h4 class="ui header">Buttons</h4>
    <p>A standard buttons group</p>
    <donut-buttons>
      <donut-button>Standard 1</donut-button>
      <donut-button>Standard 2</donut-button>
      <donut-button>Standard 3</donut-button>
    </donut-buttons>
    <div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Vertical</h4>
    <p>Buttons layed out vertically</p>
    <donut-buttons vertical>
      <donut-button>Standard 1</donut-button>
      <donut-button>Standard 2</donut-button>
      <donut-button>Standard 3</donut-button>
    </donut-buttons>
    <div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
  </div>

  <h2 class="ui dividing header">Other Layout Patterns</h2>
  <div class="ui ignored message">Common layout patterns for buttons</div>

  <div class="follow example">
    <h4 class="ui header">Icon buttons</h4>
    <p>Buttons that are icon only</p>
    <donut-buttons>
      <donut-button iconButton="polymer"></donut-button>
      <donut-button iconButton="polymer"></donut-button>
      <donut-button iconButton="polymer"></donut-button>
    </donut-buttons>
    <div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Basic</h4>
    <p>Basic Buttons</p>
    <donut-buttons>
      <donut-button simple class="basic primary">Standard 1</donut-button>
      <donut-button simple class="basic primary">Standard 2</donut-button>
      <donut-button simple class="basic secondary">Standard 3</donut-button>
    </donut-buttons>
    <div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
  </div>

</div>
