---
css         : 'media'
title       : 'Media'
description : 'Generally, the media object is an image to the left, with descriptive content to the right. This is a more abstract dual content element.'
type        : 'Element'
componentUrl: '/dist/components/elements/media/donut.media.html'
---

<link rel="import" href="/bower_components/core-icons/core-icons.html">
<div class="main container prototype">

{{> header}}

<h2 class="ui dividing header">Types</h2>

<!-- <div class="follow example">
	<h4 class="ui header">Button</h4>
	<p>A standard button</p>
	<div class="ui ignored message">A standard button will be automatically sized according to the visible content size</div>
	<donut-button>The Standard</donut-button>
</div> -->

<div class="example">
	<h4 class="ui header">Standard</h4>
	<p>Body to the right</p>
	<donut-media layout horizontal>
		<div class="figure">
			<img src="http://placehold.it/200x200" alt="" />
		</div>
		Annie L. Jack (1839 - 1912) was the first Canadian professional woman garden writer. Born in Northamptonshire, England, to John Hayr on 1 Jan 1839. In 1852, Annie Linda Hayr moved to Canada from Troy, New York where she had attended Miss Williard`s Academy.
	</donut-media>
</div>

<div class="example">
	<h4 class="ui header">Reversed</h4>
	<p>Body to the left</p>
	<donut-media layout horizontal reversed>
		<div class="figure">
			<img src="http://placehold.it/200x200" alt="" />
		</div>
		Annie L. Jack (1839 - 1912) was the first Canadian professional woman garden writer. Born in Northamptonshire, England, to John Hayr on 1 Jan 1839. In 1852, Annie Linda Hayr moved to Canada from Troy, New York where she had attended Miss Williard`s Academy.
	</donut-media>
</div>

<h2 class="ui dividing header">Other Layout Patterns</h2>

<div class="example">
	<h4 class="ui header">Center</h4>
	<p>Contents centered</p>
	<donut-media layout horizontal center>
		<div class="figure">
			<img src="http://placehold.it/200x200" alt="" />
		</div>
		Annie L. Jack (1839 - 1912) was the first Canadian professional woman garden writer. Born in Northamptonshire, England, to John Hayr on 1 Jan 1839. In 1852, Annie Linda Hayr moved to Canada from Troy, New York where she had attended Miss Williard`s Academy.
	</donut-media>
</div>

<div class="example">
	<h4 class="ui header">Bottom</h4>
	<p>Contents aligned to bottom</p>
	<donut-media layout horizontal end>
		<div class="figure">
			<img src="http://placehold.it/200x200" alt="" />
		</div>
		Annie L. Jack (1839 - 1912) was the first Canadian professional woman garden writer. Born in Northamptonshire, England, to John Hayr on 1 Jan 1839. In 1852, Annie Linda Hayr moved to Canada from Troy, New York where she had attended Miss Williard`s Academy.
	</donut-media>
</div>

</div>
