<link rel="import" href="/bower_components/core-icon/core-icon.html">
<polymer-element name="donut-media" attributes="">
<template>
	<link href="donut.media.css" rel="stylesheet">
	<link href="donut.media.theme.css" rel="stylesheet">
	<!-- Content -->
	<div id="figure">
		<content select=".figure"></content>
	</div>
	<div id="body" flex>
		<content></content>
	</div>
</template>
<script>
	Polymer({
	publish: {
		/**
		* (optional) Specifies media has the body bloclk on the left.
		*
		* @attribute reversed
		* @type boolean
		* @default false
		*/
		reversed: {value: false},
	}
	});
</script>
</polymer-element>
